<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factoria F5</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.css">
    <style>
      body{
        background-image: url(https://images7.alphacoders.com/346/346059.jpg);
        background-color: #cccccc;
         
        background-position: center; 
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    </style>
  </head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <img style="width:5%" href="/" src="http://code-woof.com/assets/img/icono-de-la-c%C3%A1mara-en-el-estilo-llenado-del-esquema-para-cartel-verano-y-bandera-social-los-medios-clipart-colorido-adornado-144414618.png" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/images/add"><i class="bi bi-gear"></i> Panel de control</a>
              </li>
        
          </div>
        </div>
      </nav>
    
